body{
    width: 100vw;
    height: 100vh;
    font-family: helvetica;
    margin: 0 auto;
}
#lewy, #prawy{
    background-color: rgb(70, 130, 180);
    color: white;
    width: 25%;
    height: 80px;
}
#srodek{
    background-color: rgb(70, 130, 180);
    color: white;
    width: 50%;
    height: 80px;
    text-align: center;
}
header{
    display: flex;
    flex-direction: row;
}
header img {
    width: 80px;
    height: 80px;
}
main{
    background-color: rgb(224, 255, 255);
    padding: 40px;

}
#sprawy, #slewy{
    background-color: rgb(70, 130, 180);
    width: 50%;
    height: 200px;
    text-align: center;
}
footer{
    background-color: rgb(224, 255, 255);
}
section{
    display: flex;
    flex-direction: row;
}

section img{
    width: 200px;
    height: 200px;
}
table {
    border: 1px solid blue;
    width: 100%;
    border-collapse: collapse;

}
td{
    border: 1px solid blue;
}
th{
    background-color: blue;
    border: 1px solid blue;
    color: white;
}